In [1]:
import pandas as pd

In [8]:
#Creating dataframe using pd.DataFrame
mydataset = {
    'cars': ["BMW", "Volvo", "Ford"],
    'passings': [3,7,3]
}
myvar = pd.DataFrame(mydataset)
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         3

In [9]:
print(pd.__version__)

1.2.4

In [10]:
#Creating series using pd.Series
a = [1,7,2]
myvar = pd.Series(a)
print(myvar)

0    1
1    7
2    2
dtype: int64

In [11]:
print(myvar[1])

7

In [14]:
#Creating Series with customized index.
index = ["x", "y", "z"]
a = [1,7,2]
myvar = pd.Series(a, index=index)
print(myvar)

x    1
y    7
z    2
dtype: int64

In [16]:
#Creating series using dictionary
calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [19]:
#Creating dataframe using dictionary.
data = {
    "calories": [420, 380, 390],
    "duration": [50, 40, 45]
}
myvar = pd.DataFrame(data)
print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

In [22]:
print(myvar.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [25]:
print(myvar.loc[[0,1]])

   calories  duration
0       420        50
1       380        40

In [27]:
print("Day1: ")
print(myvar.loc[0])
print("Day2: ")
print(myvar.loc[1])
print("Day3: ")
print(myvar.loc[2])

Day1:
calories    420
duration     50
Name: 0, dtype: int64
Day2:
calories    380
duration     40
Name: 1, dtype: int64
Day3:
calories    390
duration     45
Name: 2, dtype: int64

In [28]:
df = pd.DataFrame("Salaries.csv")
df

ValueError: DataFrame constructor not properly called!