In [2]:
List1_343 = ["Apple", "Samsung", "Redmi", "Realme", "Moto", "Vivo"]
print(len(List1_343))

6

In [20]:
List2_343 = [10, 44, 23, 67, 59, 88, 50]
List2_343.sort()
print(List2_343)
print(List2_343[-1])

[10, 23, 44, 50, 59, 67, 88]
88

In [4]:
print(sum(List2_343))

341

In [5]:
n1 = int(input("Enter number1: "))
n2 = int(input("Enter number2: "))
List5_343 = [10, 20, 30, 40, 50, 60, 70]
l1_343 = List5_343[:n1]
l2_343 = List5_343[n1:n2]
l3_343 = List5_343[n2:]
print(l1_343)
print(l2_343)
print(l3_343)

Enter number1: 2
Enter number2: 3
[10, 20]
[30]
[40, 50, 60, 70]

In [6]:
List3_343 = [12, 45, 56, 78, 22, 42, 90, 50]
List3_343.sort()
List3_343.reverse()
print(List3_343)

[90, 78, 56, 50, 45, 42, 22, 12]

In [7]:
List4_343 = [10, 20, 30]
List5_343 = [40, 50, 60]
print(List4_343 + List5_343)

[10, 20, 30, 40, 50, 60]

In [8]:
Tuple1_343 = 'Apple', 'Ball', 'Cat', 'Dog', 'Elephant', 'Fish'
print(tuple(reversed(Tuple1_343)))

('Fish', 'Elephant', 'Dog', 'Cat', 'Ball', 'Apple')

In [9]:
Tuple2_343 = 'K', 'A', 'P', 'I', 'L'
print(type(Tuple2_343))
str = ''.join(Tuple2_343)
print(type(str))
print(str)
st1 = "Kapil"
print(st1)

<class 'tuple'>
<class 'str'>
KAPIL
Kapil

In [10]:
print(tuple(List1_343))

('Apple', 'Samsung', 'Redmi', 'Realme', 'Moto', 'Vivo')

In [11]:
list1_343 = ['Tomato', 'Potato', 'Onion', 'Garlic', 'Ladyfinger']
print('Tomato' in list1_343)

True

In [12]:
list2_343 = [1, 1, 2, 2, 3, 3, 4, 4, 5, 5]
list3_343 = list()
for i in list2_343:
  if i not in list3_343:
    list3_343.append(i)
print(list3_343)

[1, 2, 3, 4, 5]

In [15]:
sum_343 = 0
for i in list3_343:
  sum_343 = sum_343 + i
print(sum_343)

15

In [16]:
Set1 = set()
print(type(Set1))
Set1.add(343)
Set1.add(342)
Set1.add(341)
Set1.add(339)
Set1.add(333)
Set1.add(343)
print(Set1)

<class 'set'>
{333, 339, 341, 342, 343}

In [17]:
Set1.add((123, 456, 789))
print(Set1)
Set1.remove(342)
print(Set1)

{333, (123, 456, 789), 339, 341, 342, 343}
{333, (123, 456, 789), 339, 341, 343}

In [18]:
Set2 = set()
Set2.add(111)
Set2.add(222)
Set2.add(333)

Set3 = set()
Set3 = Set1.union(Set2)
print(Set3)

{339, 341, (123, 456, 789), 343, 333, 222, 111}

In [19]:
print(Set2.issubset(Set3))

True